* {
    color: black;
    text-align: center;
}

a {
    text-decoration: none;
}
.close{
    width: 100%;
}

.close img {
    width: 25px;
}

.boton{
    display: flex;
    justify-content: center;
}

.boton button {
    width: 75%;
}

.productos {
    text-align: justify;
}

.swiper-slide {
    height: 300px;
    width: 100%;
    background-color: black;
}
.imagenproducto {
    height: 300px;
}

.imagenproducto img {
    height: 100%;
}



